{% load staticfiles %}
{% load static %}
<html>

<head>
    <title>Card Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %} " />
    <script src="{% static 'jqueryFile.js' %}" type="text/javascript"></script>
</head>

<body>
    <h2 class="text-center">Search Card Template Demo</h2>
    <hr/>
    <div class="container">
        <div class="form-group">
            <label> <h4>Search</h4> </label>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" style="float: right; margin-top:31px; top: 50%;"> Add Your Subject</button>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#catModel" style="float: right; margin-top:31px; margin-right: 10px;"> Add Categoty</button>
            <div class="modal" id="catModel" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">                        
                            Enter Your Category Name : <input id="catname" type="text" class="form-control" />
                            </br>
                            </br>
                            <button class="btn btn-primary" id="clickcatsubmit"  data-dismiss="modal" style="float: right; margin-right: 10px;">Submit</button>
                            <button class="btn btn-danger" data-dismiss="modal" style="float: right; margin-right: 10px;">Cancel</button>
                            </br>                              
                            </br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">                        
                            Choose your Category : 
                            <select id = "dropDownId" class="form-control">
                                <option>...</option>
                                {% for val in category %}
                                <option>{{ val }}</option>
                                {% endfor %}

                            </select>
                            </br>
                            Enter Your Subject Name : <input id="subname" type="text" class="form-control" />
                            </br>
                            Enter the Subject PRICE : <input id="subprice" type="number" class="form-control" />
                            </br>
                         
                            </br>
                            <button class="btn btn-primary" id="clicksubmit"  data-dismiss="modal" style="float: right; margin-right: 10px;">Submit</button>
                            <button class="btn btn-danger" data-dismiss="modal" style="float: right; margin-right: 10px;">Cancel</button>
                            </br>
                            
                            </br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <input class="form-control" id="data" placeholder="Search For Subjects" style="width:100%;" />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <button class="buttonload" id="loadingButton">
                        <i class='fa fa-circle-o-notch fa-spin'></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="replace">
            <h3>Total Subjects Found : {{ total }}</h3>
            {% for val in arr %}
            <h3>{{ val.category }}</h3>
            {% if val.presence %}
                <div class="row">
                    {% for sub in val.subjects %}
                    {% if sub %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="box">
                                <h4> TITLE : {{ sub.title }} </h4>
                                <h4> PRICE : {{ sub.price }} </h4>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <h3 style="margin-left: 30px;">No Subjects Found.</h3>
            {% endif %}
            {% endfor %}
        </div>
    </div>
        <hr style="height: 5px; color: black;">
        <h3 class="text-center">Created by Santosh Kulkarni</h3>
    </br>
  
</body>

</html>