.box{
    background-color: #f1f1f1;
    text-align: center;
    height: 150px;

}
h4 {
    padding-top: 30px;
}
.buttonload {
    background-color: white; 
    border: 0px;
    color: blue; 
    display: inline;
    font-size: 35px; 
  }

  /* @media only screen and (max-width: 425px) {
    body {
      background-color: black;
    }
  }

  @media only screen and (min-width: 426px) and (max-width: 1000px) {
      body {
        background-color: blue;
      }
  }
  @media only screen and (min-width: 1001px) {
    body {
        background-color: red;
    }
} */